*
{
	margin:0;
}
body
{
	background-color: #bae4fd;
	font-family: Helvetica;
	font-size:24px;
	margin: 24;
}
.profile-pic
{
	border-radius:30px;
	height:200px;
	width:200px;
	float: left;
	/*margin-right:24px;*/
}
#node
{
	text-decoration:none;
}
h2
{
	color:#00b88e;
	margin-bottom: 6px;
}
div
{
	margin-left: 220px;
	border:solid 1px black;
	margin-bottom: 10px;
	/*padding:15 50 15 50;*/ 
}
#profi
{
	font-family: cursive;
	font-size: 60px;

}
/*div:nth-child(3)
{
	font-size: 15;
	padding-top: 3;
}*/
.media
{
	max-width:100%; 
	max-height:100%; 
	margin-top: 12px;
}


@media screen and (max-width: 600px) {
	.profile-pic{
		float:none;
		body{
			text-align: center;
		}
		div{
			margin-left:0px;

		}
	}
}